In [34]:
import requests
import json
import pandas as pd
import http.client
import sys
import os
sys.path.append(os.path.abspath('../'))
import dotenv 
dotenv.load_dotenv()
key = os.getenv("key")

In [39]:
def get_peliculas(genre, titleType, page, key):

    resultados = []
    try:
        connection = http.client.HTTPSConnection("moviesdatabase.p.rapidapi.com")

        headers = {
            'x-rapidapi-key': key,
            'x-rapidapi-host': "moviesdatabase.p.rapidapi.com"
        }

        url_data = f"/titles?genre={genre}&startYear=1990&titleType={titleType}&sort=year.incr&page={page}"
        
        connection.request("GET", url_data, headers=headers)
        res = connection.getresponse()
        
        if res.status == 200:
            data = res.read()
            dicc_datos = json.loads(data.decode("utf-8"))
            results = dicc_datos.get('results', [])

            for r in results:
                movie = {
                    "id": r.get('id', "N/A"),
                    "titleText": r.get('titleText', {}).get('text', "N/A"),
                    "releaseYear": r.get('releaseYear', {}).get('year', "N/A")
                }
                resultados.append(movie)
        else:
            print(f"Error en la solicitud: {res.status} {res.reason}")

    except Exception as e:
        print(f"Error al hacer la petición a la API: {e}")

    return pd.DataFrame(resultados)

In [48]:
df_drama = get_peliculas('Drama','movie', 1, key)
df_comedia = get_peliculas('Comedy','movie', 1, key)
df_accion = get_peliculas('Action','movie', 1, key)
df_Fantasy = get_peliculas('Fantasy','movie', 1, key)
df_Horror = get_peliculas('Horror','movie', 1, key)
df_Mystery = get_peliculas('Mystery','movie', 1, key)
df_Romance = get_peliculas('Romance','movie', 1, key)
df_Thriller = get_peliculas('Thriller','movie', 1, key)
df_drama1 = get_peliculas('Drama','movie', 2, key)
df_comedia1 = get_peliculas('Comedy','movie', 2, key)
df_accion1 = get_peliculas('Action','movie', 2, key)
df_Fantasy1 = get_peliculas('Fantasy','movie', 2, key)
df_Horror1 = get_peliculas('Horror','movie', 2, key)
df_Mystery1 = get_peliculas('Mystery','movie', 2, key)
df_Romance1 = get_peliculas('Romance','movie', 2, key)
df_Thriller1 = get_peliculas('Thriller','movie', 2, key)

dataframes = {
    "Drama": df_drama,
    "Comedy": df_comedia,
    "Action": df_accion,
    "Fantasy": df_Fantasy,
    "Horror": df_Horror,
    "Mystery": df_Mystery,
    "Romance": df_Romance,
    "Thriller": df_Thriller,
    "Drama": df_drama,
    "Comedy": df_comedia,
    "Action": df_accion,
    "Fantasy": df_Fantasy,
    "Horror": df_Horror,
    "Mystery": df_Mystery,
    "Romance": df_Romance,
    "Thriller": df_Thriller}

for name, df in dataframes.items():
    df["Categoria"] = name

In [47]:

df_concat = pd.concat([df_drama, df_comedia, df_accion, df_Fantasy, df_Horror, df_Mystery, df_Romance, df_Thriller], ignore_index=True)
df_concat

           id                       titleText  releaseYear Categoria
0   tt0059325                     Jahrgang 45         1990     Drama
1   tt0059900  Wenn du groß bist, lieber Adam         1990     Drama
2   tt0065188         Vojtech, receny sirotek         1990     Drama
3   tt0068494                    Domo Arigato         1990     Drama
4   tt0075259                       Spy Story         1990     Drama
..        ...                             ...          ...       ...
75  tt0095840                         Payback         1990  Thriller
76  tt0096177                      Still Life         1990  Thriller
77  tt0096513         Jui gaai chak paak dong         1990  Thriller
78  tt0096954                       Bloodmoon         1990  Thriller
79  tt0096811                An le zhan chang         1990  Thriller

[80 rows x 4 columns]